@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}


.c-main-navbar {
    width: 100%;
    height: 66px;
}

.c-main-navbar_wrapper {
    width: 80%;
    display: flex;
    margin: 6px auto;
}

.c-main-navbar_logo {
    width: 10%;
    float: left;
    padding-top: 5px;    
}

.c-main-navbar_menu {
    width: 60%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: grey;    
}

.c-main-navbar_menu_item {
    padding-left: 20px;
}

.arrow {
    margin: 0 0 0 7px;

}

.c-main-navbar_buttons {
    margin-top: 12px;
    width: 350px;
}

.c-main-navbar_button-enter {
    width: 87px;
    height: 34px;
    border-radius: 34px;
    border-color: #BC9CFF;
    color: #BC9CFF;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;  
    background-color: #fff;
    outline: none;
    font-size: 12px;
    border: 2px solid #BC9CFF;
}

.c-main-navbar_button-registration {
    width: 196px;
    height: 34px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    text-transform: uppercase;
    font-weight: bold;  
    color: #fff;
    outline: none;
    font-size: 12px;    
    border: 1px solid #BC9CFF;
}



