@import url('https://fonts.googleapis.com/css?family=Montserrat');



.c-main-area {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 208, 245);
}

.c-main-section {
    width: 380px;
    height: 646px;
    border-radius: 4px;
    background: #FFFFFF;
    position: absolute;
    top: 110%;
    left: 40%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 30px 20px -10px;
}

.input {
    width: 320px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    color: rgba(136, 136, 139, 0.25);
}
